
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Random</h2>

@*View Data Dictionary Method*@
@*Really ugly... lets avoid this*@
@*<h2>@( ((Movie) ViewData["Movie"]).name)</h2>*@
@*@ViewBag.Movie*@


@*DON'T USE VIEWDATA OR VIEWBAG*@ 

@*GIT TEST*@
